<html>

  <head>
    <title>Crude NODEJS</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>

    <ul>
      <li><a class="active" href="/">CRUD NODE.JS</a></li>
      <li><a href="/inserir">INSERIR</a></li>
      <li><a href="/select">SELECT</a></li>
    </ul>

    <h1>CRUD NODEJS</h1>

    <hr />

    {{{body}}}

    <script src="/js/javascript.js"></script>

  </body>

</html>