<table>
    <tr>
        <td>Action</td>
        <td>Id</td>
        <td>Name</td>
        <td>Age</td>
    </tr>

    {{#data}}
        <tr>
            <td>
                <a href='update/{{id}}'><img id='action' src='/img/edit.png'></a>
                <a href='deletar/{{id}}' class='deletar'><img id='action' src='/img/lix.png'></a>
            </td>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{age}}</td>
        </tr>
    {{/data}}

</table>